* {
   background-image: url("https://www.black-holes.eu/resources/banner.jpg");
}
div {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: small;
    font-style: italic;
    color: white;
}
a {
    text-decoration: none;
}
